* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    font-size: 1.1em;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header, aside, main {
    height: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(26, 26, 26);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/*Headrer Section*/

header {
    height: 100%;
    background-color: #fdf4ff;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.header_search {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    gap: 1em;
}

.header_search input {
    width: 30em;
    height: 2em;
    border-radius: 20px;
    border: none;
    background-color: rgb(217, 217, 217);
}

.header_user-info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-self: end;
}

.header_user-greeting {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
}

.header_buttons-wrap {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
    display: flex;
    gap: 1em;
}

.header_search, .header_user-greeting, .header_buttons-wrap, .header_user-info {
    margin: 1em 2.5em;
}

.header-buttons {
    padding: .5em;
    width: 7em;
    border-radius: 50vh;
    cursor: pointer;
    color: black;
    background: #d946ef;
    font-weight: bold;
    transition: color 0.3s ease;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.header-buttons:hover {
    color: whitesmoke;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}



/*Sidebar Section*/

aside {
    height: 100%;
    background: linear-gradient(to bottom, #d946ef, #f0abfc);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.aside_logo {
    display: flex;
    align-items: center;
    gap: .5em;
    padding: 1em;
    margin-right: 1em;
}

.aside_logo h1 {
    font-weight: bolder;
}

.aside_logo-icon {
    width: 2.5em;
    height: auto;
}

.aside_nav1, .aside_nav2 {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 1em;
}
.aside_nav1 li, .aside_nav2 li {
    display: flex; 
    align-items: center;
    gap: 1em;
}

.aside_nav1-icon, .aside_nav2-icon {
    width: 1.5em;
    height: auto;
}

/*Main Content Section*/

main {
    height: 100%;
    background-color: rgb(217, 217, 217);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


